/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/background.jpg');
  background-size: auto auto;
  font-size: 10px;
}

@media (min-width: 300px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 20px;
  }
}

header {
}

.menu {
  background-color: black;
  position: fixed;
  top: 300px;
  left: 10px;
}

.menu ul {
  
}

.menu li {
  padding: 15px;
}

.menu a {
  display: block;
  padding: 10px;
  font-size: 1em;
}

a {
  color: whitesmoke;
  text-decoration: none;  
}

a:hover {
  text-decoration: underline; 
}

.title{
  position: relative;
  top: 15px;
}

.site-title,
.site-subtitle{
  color: whitesmoke;
  text-align: center;
  padding: 8  px;
  font-size: 2em;
}

.site-subtitle {
font-style: italic;
}

.bio {
  position: relative;
  top: 100px;
  color: whitesmoke;
  text-align: center;
  font-size: 1em;
} 