* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/background.jpg');
  background-size: auto 100vh;
  height: 100vh;
  font-family: Arial;
  font-size: 10px;
  opacity: 0.8;
}

@media (min-width: 300px) {
  body {
    font-size: 18px;
  }
  .title-box {
    font-size: 0.7em;
    padding: 1.5em;
  }
  .site-title {
    color: whitesmoke;
    text-align: center;
    padding-top: 6em;
    font-family: 'Comic Neue', cursive;
  }
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Baloo Bhaina 2', cursive;
  }
  .temp {
    color: whitesmoke;
    text-align: right;
    padding-top: 35vh;
    font-size: 1em;
    font-family: 'Cutive Mono', cursive;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 20px;
  }
  .title-box {
    font-size: 0.7em;
    padding: 1.5em;
  }
  .site-title {
    color: whitesmoke;
    text-align: center;
    font-size: 2.3em;
    padding-top: 6em;
    font-family: 'Comic Neue', cursive;
  }
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Baloo Bhaina 2', cursive;
  }
  .temp {
    color: whitesmoke;
    text-align: right;
    padding-top: 35vh;
    font-size: 1.2em;
    font-family: 'Cutive Mono', cursive;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 30px;
  }
  .title-box {
    font-size: 0.6em;
    padding: 1.5em;
  }
  .site-title {
    color: whitesmoke;
    text-align: center;
    padding-top: 4.8em;
    font-size: 3em;
    font-family: 'Comic Neue', cursive;
  }
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Baloo Bhaina 2', cursive;
  }
  .temp {
    color: whitesmoke;
    text-align: right;
    padding-top: 35vh;
    font-size: 1.2em;
    font-family: 'Cutive Mono', cursive;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 38px;
  }
  .title-box {
    font-size: 0.55em;
    padding: 1.5em;
  }
  .site-title {
    color: whitesmoke;
    text-align: center;
    padding-top: 4.8em;
    font-size: 2.5em;
    font-family: 'Comic Neue', cursive;
  }
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Baloo Bhaina 2', cursive;
  }
  .temp {
    color: whitesmoke;
    text-align: right;
    padding-top: 35vh;
    font-size: 1.2em;
    font-family: 'Cutive Mono', cursive;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 22px;
  }
  .title-box {
    font-size: 0.60em;
  }
  .site-title {
    color: whitesmoke;
    text-align: center;
    padding-top: 2.3em;
    font-size: 3.5em;
    font-family: 'Comic Neue', cursive;
  }
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Baloo Bhaina 2', cursive;
  }
  .temp {
    color: whitesmoke;
    text-align: right;
    font-size: 1.5em;
    padding-top: 35vh;
    font-family: 'Cutive Mono', cursive;
  }
}

.menu {
  background-color: black;
  position: fixed;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1em;
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: whitesmoke;
  color: black;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.site-subtitle::after {
  font-weight: 1;
  content: '|';
  margin-left: 5px;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
}

.title,
.about,
.projects,
.contact {
  padding-top: 3em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about h2,
.projects h2,
.contact h2 {
  color: whitesmoke;
  padding: 15px;
  font-size: 1.5em;
}

.about .about-box {
  padding: 2em;
}

.about .img-office {
  text-align: center;
}

@media (min-width: 600px) {
  .about .img-office img {
    border-radius: 1%;
    float: right;
    margin-left: 0.5em;
    margin-bottom: 0.07em;
  }
}

.about p {
  font-size: 0.8em;
  color: whitesmoke;
  text-indent: 1.5em;
  margin-bottom: 0.5em;
  padding-bottom: 10px;
  text-align: justify;
}

.projects .grid {
  color: whitesmoke;
  font-size: 0.7em;
  display: grid;
  gap: 2em;
  text-align: center;
  padding: 2em;
}

@media (min-width: 560px) {
  .projects .grid {
    grid-template-columns: 240px 240px;
    justify-content: center;
  }
}

@media (min-width: 880px) {
  .projects .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
  }
}

.img-projects {
  height: 180px;
  width: 200px;
  object-fit: cover;
  border-radius: 1%;
}

.contact-icons {
  padding: 2em;
  text-align: center;
}

.contact a {
  color: whitesmoke;
  font-size: 3em;
  transition: text-shadow 0.5s;
  padding: 10px;
}

.contact a:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}